[Bb]in/
[Oo]bj/
[Ll]og/
**/.vs/
/.vs/config/applicationhost.config
[Pp]ublishProfiles/
[Tt]emp/
*.user
*-lock.json
.DS_Store
.idea/

.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*www/
src/VNEXT/Dora.School/wwwroot\upload\Courseware\f0f77f06-b8ed-455b-87b8-12928f00f64f.xlsx
