@{
    Layout = "_Layout_99";
}
@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}

<div class="wapper">
    @RenderBody()
</div>

<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
</form>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">诊改支撑平台</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能预览 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/index">任课教师</a></li>
                        <li><a href="/index2">分院(系)领导</a></li>
                        <li><a href="/index3">教学秘书</a></li>
                        <li><a href="/index4">实验实训室管理员</a></li>
                        <li><a href="/index5">教务管理员</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">基础数据管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">班级课程管理</a></li>
                        <li><a href="#">专业课程管理</a></li>
                        <li><a href="#">班级学生管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">公共教室管理</a></li>
                        <li><a href="#">实训室管理</a></li>
                        <li><a href="#">实训设备管理</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">数据字典管理</a></li>
                        <li><a href="#">审批流管理</a></li>
                        <li><a href="#">实训项目管理</a></li>
                        <li><a href="#">辅导记录管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">实训计划管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">实训计划管理</a></li>
                        <li><a href="#">教学任务管理</a></li>
                        <li><a href="#">授课计划管理</a></li>
                        <li><a href="#">教学大纲管理</a></li>
                        <li><a href="/PersonnelTraining/Index">人才培养方案管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">例子 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/BaseData/ClassList">分页读取数据</a></li>
                        <li><a href="#">写数据</a></li>
                        <li><a href="#">修改数据</a></li>
                        <li><a href="#">删除数据</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">上传文件</a></li>
                        <li><a href="#">文本编辑器</a></li>
                        <li><a href="#">文本编辑器二</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">AJAX Form</a></li>
                        <li><a href="#">Ajax</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">Excel 导入</a></li>
                        <li><a href="#">Excel 导出</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">弹出 DIV</a></li>
                        <li><a href="#">弹出 PAGE</a></li>

                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="nav-login-username"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Account/ChangePassword">修改密码</a></li>
                        <li><a href="/Account">账号信息</a></li>
                        <li><a href="/Account/SetInfo">个人设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" class="logout"><i class="glyphicon glyphicon-off" style="top:3px;font-weight:bold"></i> 退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


