@{
    Layout = "_Layout_99";
}
@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}

<div class="">
    @RenderBody()
</div>