@{
    ViewData["Title"] = "诊改支撑平台";
    Layout = "_Layout_1";
}

<style>
    body .demo-class .layui-layer-title {
        background: #000;
        color: #fff;
        border: none;
    }

    body .imgbox {
        padding-bottom: 10px;
    }

        body .imgbox img {
            width: 100%;
        }

    body .col-lg-1 {
        padding: 10px;
    }

    .row1>div>div {
        background:#ddd;
        height:60px;
        padding-top:8px;
        text-align:center;
    }
</style>

<h1>教务管理员</h1>

<div class="container-fluid">
    				


    <div class="row">
        <div class="col-lg-12">
            <h4><em>F1 基础信息管理</em></h4>
        </div>
    </div>
    <div class="row imgbox row1">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>教师信息管理</div>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div style="background:#ff6a00">学生信息管理
           
            </div>

            
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div style="background:#ff6a00">教学组织架构管理</div>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            
            <div>课程信息管理</div>

        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>班级管理</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>普通教室信息管理</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>实验实训室信息管理</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>角色分配</div>
        </div>    
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>学期与教学周次管理</div>
        </div>   
        			

        
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4><em>F2 教学任务管理</em></h4>
        </div>
    </div>
    <div class="row imgbox row1">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>教学任务导入	</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>教学任务添加</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>教学任务修改</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div style="background:#ff6a00">课表信息导入</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4><em>F3 审核管理</em></h4>
        </div>
    </div>
    <div class="row imgbox row1">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>人才培养方案三级审核	</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>课程教学大纲三级审核</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div style="background:#ff6a00">授课计划三级审核</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4><em>F4 校级教学管理制度维护</em></h4>
        </div>
    </div>
    <div class="row imgbox row1">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>校级教学管理制度上传	</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
            <div>校级教学通知发布</div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('.logout').on('click', function () {
                layer.confirm('你确定要退出系统吗？', {
                    btn: ['确定', '取消'],
                    skin: 'demo-class'
                }, function () {
                    document.getElementById('logoutForm').submit()
                }, function () {

                });
            });
        })
    </script>
}

