@inject IOptions<AppSettings> AppSettings
@{
    ViewData["Title"] = "诊改支撑平台";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@string.Format("{0} - {1}", ViewData["Title"], AppSettings.Value.SiteTitle).Trim(' ', '-')</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" sizes="any" mask href="/favicon.ico">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css"/>
        <link rel="stylesheet" href="~/lib/layer/theme/default/layer.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/mm-vertical.css"/>
        <link rel="stylesheet" href="~/css/navbar.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css"/>
        <link rel="stylesheet" href="~/lib/layer/theme/default/layer.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/mm-vertical.css"/>
        <link rel="stylesheet" href="~/css/navbar.css"/>
    </environment>
</head>
<body>

<div id="main" class="wapper" role="main">
    <div style="width: 200px; position: fixed; left: 0; top: 50px;bottom: 0; background-color: #212529;  z-index: 10;">
        <nav class="sidebar-nav" style="height: 100%">
            <ul class="metismenu">
            </ul>
        </nav>
    </div>
    <div style="width: 100%; position: fixed; left: 0; top: 0; z-index: 9; padding-left: 199px">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">诊改支撑平台</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="nav-login-username"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Account/ChangePassword">修改密码</a></li>
                                <li><a href="/Account">账号信息</a></li>
                                <li><a href="/Account/SetInfo">个人设置</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0)" class="logout"><i class="glyphicon glyphicon-off" style="top:3px;font-weight:bold"></i> 退出系统</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div style="padding-left: 200px; z-index: 0; height: 100%">
        <div style="padding: 20px; height: 100%">
            <iframe src="" name="content" id="content" style="width: 100%; height: 100%; border: 0"></iframe>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/js/site.min.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/js/app.config.js"></script>
    <script src="~/js/app.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/js/site.min.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/js/app.config.js"></script>
    <script src="~/js/app.js"></script>
</environment>
<script type="text/javascript">
    $(function() {
        $('.metismenu').metisMenu();
        $.ajax({
            url: "/Account/GetMenu",
            success: function(result) {
                console.log("================");
                console.log(result);
                $('.metismenu').metisMenu('dispose');
                $(".metismenu").append(result);
                $('.metismenu').metisMenu();
            }
        });
    });
</script>
<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
</body>
</html>