@{
    ViewData["Title"] = "诊改支撑平台";
    Layout = "_Layout_99";
}
@model LoginViewModel
@section styles {
    <link href="~/css/Login/Login.css" rel="stylesheet" />
}

                    
                    
                    

<div class="swaper">
    <div class="bgimg"></div>
    <div class="main-box">
        <div style="text-align: left; padding: 0 20px 0 20px;">
            <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div style="text-align: center">
                    <img src="Images/logo.jpg" style="width: 80%;margin:0 auto"/>
                </div>
                
                <h5>整改系统-登陆</h5>
                <div>账号：</div>
                <div>
                    <environment names="Development">
                        <select asp-for="Uname" class="form-username form-control">
                            <option value="admin">管理员</option>
                            <option value="1000001">任课教师</option>
                            <option value="1000002">教研室(系)主任</option>
                            <option value="1000003">分院(系)领导</option>
                            <option value="1000004">教学秘书</option>
                            <option value="1000005">实验实训室管理员</option>
                            <option value="1000006">教务管理员</option>
                        </select>
                    </environment>
                    <environment names="Staging,Production">
                        @*<input asp-for="Uname" placeholder="Username..." value="" class="form-username form-control" />*@
                        <select asp-for="Uname" class="form-username form-control">
                            <option value="admin">管理员</option>
                            <option value="1000001">任课教师</option>
                            <option value="1000002">教研室(系)主任</option>
                            <option value="1000003">分院(系)领导</option>
                            <option value="1000004">教学秘书</option>
                            <option value="1000005">实验实训室管理员</option>
                            <option value="1000006">教务管理员</option>
                        </select>
                    </environment>
                </div>
                <div>密码：</div>
                <div><input asp-for="Password" placeholder="Password..." class="form-control"/></div>
                <div style="margin-top: 20px">
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                    <div asp-validation-summary="All" class="list-unstyled"></div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
