@font-face {
    font-family: Notob;
    /*为引入的字体命名*/
    src: url(NotoSansCJK-Bold.otf);
    /*定义要引入字体文件的路径*/
}

@font-face {
    font-family: Notom;
    /*为引入的字体命名*/
    src: url(NotoSansCJK-Medium.otf);
    /*定义要引入字体文件的路径*/
}

@font-face {
    font-family: Noton;
    /*为引入的字体命名*/
    src: url(SourceHanSansCN-Normal.otf);
    /*定义要引入字体文件的路径*/
}

@font-face {
    font-family: Notol;
    /*为引入的字体命名*/
    src: url(NotoSansCJK-Light.otf);
    /*定义要引入字体文件的路径*/
}

html, body {
    min-height: 100%;
}
.wapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background: #f2f6f0
}
.container-fluid{
    background-color:#fff
}

.navbar-default {
    background:none
}

.hidden {
    display: none;
}

.os-bd-btm {
    width: 100%;
    background: #000;
    color: #fff;
    border-collapse: collapse;
    position: fixed;
    bottom: 0;
    height: 20px;
    overflow: hidden;
    font-size: 12px;
}

    .os-bd-btm td {
        width: 85px;
        vertical-align: middle;
        border-left: 1px solid #fff;
        text-align: left;
        padding: 2px 5px 0 5px;
        cursor: pointer;
        height: 20px;
    }

        .os-bd-btm td.t0 {
            width: auto;
            text-align: left;
            border: 0;
            padding-left: 10px;
        }

        .os-bd-btm td i {
            top: 2px;
            margin: 0px 2px 0 0;
        }

        .PList {
    padding: 5px 5px;
}

    .PList .nav {
        float: right;
    }

    .PList .msg b {
        color: red;
    }

    .PList .nav a {
        padding: 0px 3px 0 2px;
        color: #000;
        text-decoration: none;
    }

        .PList .nav a.Cur {
            color: red !important;
            font-weight: bold !important;
        }