@model IEnumerable<Dora.Domain.Entities.Application.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@section styles{  
<link href="~/js/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
}
<h2>Index</h2>
<div id="continer">
    <div class="row">
        <div class="col-sm-12">
            <div id="tree" class="ztree"></div>
        
        </div>
    </div>
</div>

@section scripts{ 
<script src="~/js/zTree_v3/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript">
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            }
        };
        
        var zTree;  
        $(function () { 
            //JQuery的 Ajax 请求
            $.ajax({
                type: "Post",
                url: "GetGroup",
                data: "",
                dataType: "json",
                success: function (result) {
                    if (result) { 
                        zTree= $.fn.zTree.init($("#tree"), setting, result);

                        alert(zTree.getSelectedNodes()[0].myAttr);
                    }
                    else {
                        alert("失败");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) { 
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error"); 
                }
            });

        });


</script>

}