@model IEnumerable<Dora.Domain.Entities.Application.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="continer">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-xs btnAdd">新增</a>
            <a class="btn btn-info btn-xs btnEdit">修改</a>
            <a class="btn btn-danger btn-xs btnDel">删除</a>
        </div>
        <div class="col-sm-1">
            <div id="tree" class="ztree"></div>

        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="txtname" class="col-sm-4 control-label">名称：</label>
                <div class="col-sm-8">
                    <input class="form-control input-sm" id="txtname" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtdescription" class="col-sm-4 control-label">权限：</label>
                <div class="col-sm-8">
                    <input class="form-control input-sm" id="txtdescription" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/zTree_v3/js/jquery.ztree.core.min.js"></script>
    <script src="~/js/zTree_v3/js/jquery.ztree.excheck.min.js"></script>
    <script src="~/js/zTree_v3/js/jquery.ztree.exedit.min.js"></script>
    <script type="text/javascript">


        var setting = {
            view: {
                fontCss: {
                    color: "#313131"
                }
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };


        var zTree;
        $(function () {
            //JQuery的 Ajax 请求
            $.ajax({
                type: "Post",
                url: "GetGroup",
                data: "",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        zTree = $.fn.zTree.init($("#tree"), setting, result);

                        zTree.expandAll(true);
                    }
                    else {
                        alert("失败");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error");
                }
            });

        });



    </script>

}

@section styles{
    <link href="~/js/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

}