@model IEnumerable<Dora.Domain.Entities.Application.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>
<div id="continer"></div>

@section scripts{
    <script type="text/javascript">
        var setting = {
            isSimpleData: true,              //数据是否采用简单 Array 格式，默认false  
            treeNodeKey: "id",               //在isSimpleData格式下，当前节点id属性  
            treeNodeParentKey: "pId",        //在isSimpleData格式下，当前节点的父节点id属性  
            showLine: true,                  //是否显示节点间的连线  
            checkable: true                  //每个节点上是否显示 CheckBox  
        };  

        $(function () { 

            //JQuery的 Ajax 请求
            $.ajax({
                type: "Post",
                url: "GetGroup",
                data: "",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        zTree = $("#tree").zTree(setting, result);  
                        
                    }
                    else {
                        alert("失败");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    //alert("complete");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error");
                    // alert(XMLHttpRequest);
                    // alert(errorThrown);
                    // alert(textStatus);
                }
            });

        });

 
    </script>
}