@model SchoolRole

@{
    ViewData["Title"] = "添加新角色";
    Layout = "_Layout";
}

<div class="container-fluid">
    <form asp-action="Create" method="post">
        <table class="table table-striped" style="">
            <tr>
                <td style="vertical-align:middle">角色名称</td>
                <td><input asp-for="Name" class="form-control" /><span asp-validation-for="Name" class="text-danger"></span></td>
                <td style="vertical-align:middle">排序</td>
                <td><input asp-for="Index" class="form-control" /><span asp-validation-for="Index" class="text-danger"></span></td>
            </tr>
        </table>
        <div style="text-align:right;padding:5px 10px 0 0">
            <input class="btn btn-danger btn-xs" type="submit" value=" 确 定 " />
        </div>
    </form>
</div>