@model IEnumerable<SelectListItem>

@{
    ViewData["Title"] = "设置权限";
    Layout = "_Layout_99";
}


@section styles{
    <style>
        body .checkbox-inline {
            margin-left:0!important;
            margin-right:10px;
        }
    </style>
    
}

<form method="post">
    <input type="hidden" name="RoleId" value="@ViewBag.role.Id" />
    <table class="table table-striped">
        <thead>
            <tr><th>角色:@ViewBag.role.Name</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox row">
                        @foreach (SelectListItem item in Model)
                        {
                            <div class="col-xs-1" style="width: 45%">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="ModuleTypeIds" value="@item.Value" @(item.Selected ? "checked" : "") /> @item.Text
                                </label>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <button class="btn btn-danger" style="width:120px" type="submit">提交</button>
                </td>
            </tr>
        </tbody>

    </table>
</form>
