@model PersonnelTrainingViewModel
@{
    ViewData["Title"] = "Edit";
}
@section styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}
<h2>Edit</h2>
<div class="container-fluid">

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="PersonnelTrainingId" />
        <div class="form-group">
            <label asp-for="OrganizationId"></label>
            <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.Organizations"></select>
        </div>
        <div class="form-group">
            <label asp-for="LenOfSch"></label>
            <input type="text" class="form-control" asp-for="LenOfSch">
        </div>
        <div class="form-group">
            <label asp-for="Year"></label>
            <input type="text" class="form-control" asp-for="Year">
        </div>
        <div class="form-group">
            <label asp-for="CulProPath"></label>
            <input type="file" asp-for="CulProPath">
        </div>
        <div class="form-group">
            <label asp-for="MeeSumPath"></label>
            <input type="file" asp-for="MeeSumPath">
        </div>
        <div class="form-group">
            <label asp-for="Status"></label>
            @*<select asp-for="Status" class="form-control" asp-items="ViewBag.Statuss"></select>*@
            <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<BaseStatus>()"></select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-danger pull-right">保存</button>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script>
        $('#Year').datepicker({
            format: 'yyyy',
            autoclose: true,
            startView: 2,
            maxViewMode: 2,
            minViewMode: 2,
            language: 'zh-CN'
        });
    </script>
}