@model IEnumerable<Papers>

@{
    ViewData["Title"] = "信息提示";
    Layout = "_Layout";
}



<div class="container-fluid">
    <div class="page-header">
        <h1>信息提示</h1>
    </div>
    <div>
        <span>后续规划</span>
    </div>
</div>
