html,body {
	display: block;
	height: 100%!important;
}

.swaper {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
	padding-right: 300px;
	height: 100%;
	position: relative;
}

div.bgimg{
	display: block;
	height: 100%!important;
	background-image:url(bg.jpg);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
}

.main-box{
	width:300px;
	position: absolute;
	top: 0;
	right: 0;
}





